.price {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: grey;
  margin: 20px auto 60px;
}

.price__item {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-row-gap: 10px;
  grid-column-gap: 30px;
  margin: 20px auto;
}

.price__title {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  line-height: 20px;
  text-align: center;
  font-size: 23px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.price__text {
  font-family: 'Inter', 'Arial', 'sans-serif';
  font-style: normal;
  line-height: 18px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  max-width: 300px;
}
