.header {
    display: flex;
    gap: 30px;
    background-image: url(../../image/header__background-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    justify-content: space-between;
    min-width: 320px;
    min-height: 780px;
    margin: 0 auto;
    color: white;
}