.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: grey;
  margin: 0;
  padding: 10px 50px;
}

.footer__title {
  font-size: 22px;
  line-height: 23px;
  font-weight: 500;
  margin: 5px;
  max-height: 31px;
  text-align: center;
}

.footer__social-network {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.footer__social-network_link {
  color: #808080;
  list-style-type: none;
  font-size: 15px;
  line-height: 16px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.footer__social-network_img {
  background-color: #808080;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  margin-bottom: -2px;
  border-radius: 4px;
  padding: 0;
}

@media screen and (max-width: 950px) {
  .footer__title {
    font-size: 21px;
    line-height: 22px;
    margin: 0;
    max-height: 23px;
    text-align: end;
  }

  .footer__social-network {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-end;
  }

  .footer__social-network_link {
    padding: 0;

  }

  .footer__social-network_img {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    padding: 10px 25px;
  }
}

@media screen and (max-width: 500px) {
  .footer__title {
    font-size: 15px;
    line-height: 16px;
    margin: 0;
    max-height: 17px;
    text-align: end;
  }

  .footer__social-network_link {
    font-size: 12px;
    line-height: 13px;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    padding: 10px 15px;
  }

  .footer__title {
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
  }

  .footer__social-network_link {
    font-size: 8px;
    line-height: 9px;
  }
}
